<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/user/dashbordCardapio.css">
    <link rel="stylesheet" href="/css/models/dashbordModel.css">
    <link rel="stylesheet" href="/css/models/variavies.css">
    <title>Unetec</title>
</head>

<body>
    <main>
        <section class="aba-padrao">
            <div class="aba-box1">
                <div class="logo">
                    <h1><span class="letra-preta">UN</span><span class="letra-vermelha">ETEC</span></h1>
                </div>
                <div class="opcoes">
                    <button id="button-avisos" class="style-button1"
                        onclick="window.location.href='/dashbordAvisosAluno'"><img src="/imagens/aviso-icon.svg"
                            alt="avisos-icon">&nbsp;&nbsp;Avisos</button>
                    <button id="button-home" class="style-button1" onclick="window.location.href='/dashbordAluno'"><img
                            src="/imagens/home-icon.svg" alt="avisos-icon">&nbsp;&nbsp;Home</button>
                    <button id="button-cardapio" class="style-button1"
                        onclick="window.location.href='/dashbordCardapioAluno'"><img src="/imagens/cardapio-icon.svg"
                            alt="avisos-icon">&nbsp;&nbsp;Cardápio</button>
                    <button id="button-chat" class="style-button1" onclick="window.location.href='/dashbordChat'"><img
                            src="/imagens/chat-icon.svg" alt="conta-icon">&nbsp;Chat</button>
                    <button id="button-chat" class="style-button1"
                        onclick="window.location.href='/dashbordVisitaTecnica'"><img src="/imagens/visitaTec-icon.svg"
                            alt="conta-icon">&nbsp;Visita Téc.</button>
                </div>
            </div>
            <div class="aba-box2">
                <button id="button-agenda" class="style-button1" onclick="window.location.href='/dashbordConfig'"><img
                        src="/imagens/config-icon.svg" alt="config-icon">&nbsp;Config</button>
                <button id="button-agenda" class="style-button1" onclick="window.location.href='/dashbordConta'"><img
                        src="/imagens/conta-icon.svg" alt="conta-icon">&nbsp;Conta</button>
            </div>
        </section>
        <section class="dashbord">
            <div class="nav-cardapio">
                <h1>Cardápio</h1>
            </div>
            <div class="div-dashbordCardapio">
                <div class="div-table">
                    <% if(cardapio.length < 1) { %>
                        <h1>Nenhum cardápio cadastrado ainda.</h1>
                        <% } %>
                            <% cardapio.forEach(cardapio=> { %>
                                <table class="tabela-cardapio">
                                    <thead>
                                        <tr>
                                            <th class="th-dia">Dia</th>
                                            <th class="th-descricao">Descrição</th>
                                            <th class="th-like">Curtidas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Segunda</td>
                                            <td>
                                                <%= cardapio.segunda %>
                                            </td>
                                            <td>
                                                <%= cardapio.likeSegunda %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Terça</td>
                                            <td>
                                                <%= cardapio.terca %>
                                            </td>
                                            <td>
                                                <%= cardapio.likeTerca %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Quarta</td>
                                            <td>
                                                <%= cardapio.quarta %>
                                            </td>
                                            <td>
                                                <%= cardapio.likeQuarta %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Quinta</td>
                                            <td>
                                                <%= cardapio.quinta %>
                                            </td>
                                            <td>
                                                <%= cardapio.likeQuinta %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sexta</td>
                                            <td>
                                                <%= cardapio.sexta %>
                                            </td>
                                            <td>
                                                <%= cardapio.likeSexta %>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <% }) %>
                </div>
                <% if(cardapio.length>= 1) { %>
                    <div class="interacoes">
                        <div class="div-form">
                            <div class="form-text">
                                <h1>E aí, vai merendar hoje?</h1>
                                <p>Sua resposta é muito importante!
                                    Ao confirmar se vai merendar, você ajuda a equipe da cozinha a se organizar melhor e
                                    evitar
                                    desperdícios de alimentos.</p>
                            </div>
                            <button class="bnt-form"
                                onclick="window.location.href='/dashbordCardapioAluno/formAlmoco'">Responder
                                agora</button>
                        </div>
                        <div class="like-cardapio">
                            <div class="like-text">
                                <h1>Curtiu o rango ?</h1>
                                <p>Dê seu like no cardápio e ajude nossas cozinheiras a saberem o que você mais gosta!
                                </p>
                            </div>
                            <form action="" id="form">
                                <input list="Campos" id="camposDias" class="inputs" name="campoEscolhido"
                                    placeholder="Selecione o prato" required>
                                <datalist id="Campos">
                                    <option value="likeSegunda">Segunda-feira</option>
                                    <option value="likeTerca">Terca-feira</option>
                                    <option value="likeQuarta">Quarta-feira</option>
                                    <option value="likeQuinta">Quinta-feira</option>
                                    <option value="likeSexta">Sexta-feira</option>
                                </datalist>
                                <input type="submit" value="Curtir" class="button-submit">
                            </form>
                        </div>
                    </div>
            </div>
            <% } %>
        </section>

    </main>
    <script src="/js/user/cardapio.js"></script>
    <script src="/js/public/darkMode.js"></script>
    <script src="/js/public/likeCardapio.js"></script>
</body>

</html>