<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/admin/dashbordVisitaTec.css">
    <link rel="stylesheet" href="/css/models/variavies.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=download" />
    <title>Unetec</title>
</head>

<body>
    <main>
        <section class="aba-padrao">
            <div class="aba-box1">
                <div class="logo">
                    <h1><span class="letra-preta">UN</span><span class="letra-vermelha">ETEC</span></h1>
                </div>
                <div class="opcoes">
                    <button id="button-avisos" class="style-button1"
                        onclick="window.location.href='/dashbordAvisosAdmin'"><img src="/imagens/aviso-icon.svg"
                            alt="avisos-icon">&nbsp;&nbsp;Avisos</button>
                    <button id="button-home" class="style-button1" onclick="window.location.href='/dashbordAdmin'"><img
                            src="/imagens/home-icon.svg" alt="avisos-icon">&nbsp;&nbsp;Home</button>
                    <button id="button-cardapio" class="style-button1"
                        onclick="window.location.href='/dashbordCardapioAdmin'"><img src="/imagens/cardapio-icon.svg"
                            alt="avisos-icon">&nbsp;&nbsp;Cardápio</button>
                    <button id="button-chat" class="style-button1"
                        onclick="window.location.href='/dashbordChatAdmin'"><img src="/imagens/chat-icon.svg"
                            alt="conta-icon">&nbsp;Chat</button>
                    <button id="button-chat" class="style-button1"
                        onclick="window.location.href='/dashbordVisitaTecnicaAdmin'"><img
                            src="/imagens/visitaTec-icon.svg" alt="conta-icon">&nbsp;Visita Téc.</button>
                </div>
            </div>
            <div class="aba-box2">
                <button id="button-agenda" class="style-button1"
                    onclick="window.location.href='/dashbordConfigAdmin'"><img src="/imagens/config-icon.svg"
                        alt="config-icon">&nbsp;Config</button>
                <button id="button-agenda" class="style-button1"
                    onclick="window.location.href='/dashbordContaAdmin'"><img src="/imagens/conta-icon.svg"
                        alt="conta-icon">&nbsp;Conta</button>
            </div>
        </section>

        <section class="dashbord">
            <div class="nav-tarefas">
                <h1>Visitas Técnicas</h1>
                <button class="button-nav" onclick="window.location.href='/dashbordVisitaTecnicaAdmin/Form'">Criar
                    Visitas</button>
            </div>

            <div class="quadro-visitas">
                <% visitasTec.forEach(visita=> { %>
                    <div class="item-visita">
                        <h1>
                            <%= visita.titulo %>
                        </h1>
                        <div class="mapa-container" data-endereco="<%= visita.localizacao %>"
                            data-id="<%= visita._id %>" id="mapa-<%= visita._id %>">
                        </div>

                        <p><strong>Descrição:</strong>
                            <%= visita.descricao %>
                        </p>

                        <p><strong>Data da visita técninica:</strong>
                            <%= visita.dataDaVisita %>
                        </p>

                        <p><strong>Salas que estão autorizadas a ir:</strong>
                            <%= visita.SalasVisita %>
                        </p>
                        <div class="buttons">
                            <a href="<%= visita.pdfLink %>" target="_blank"><button class="bnt-download"
                                    onclick="redire">Baixar
                                    autorização<span class="material-symbols-outlined"> download </span></button></a>
                            <button class="button-excluir" onclick="excluirVisita('<%= visita._id %>')">Excluir</button>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </section>
    </main>
    <script src="/js/public/darkMode.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/js/admin/mapasVisitas.js"></script>
    <script src="/js/admin/visitaTecAdmin.js"></script>
</body>

</html>