<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/adminItaquera/dashbordCardapio.css">
    <title>Unetec</title>
</head>

<body>
    <main>
        <section class="aba-padrao">
            <div class="aba-box1">
                <div class="logo">
                    <h1><span class="letra-preta">UN</span><span class="letra-vermelha">ETEC</span></h1>
                </div>
                <div class="opcoes">
                    <button id="button-avisos" class="style-button1"
                        onclick="window.location.href='/dashbordAvisosAdmin'"><img src="/imagens/aviso-icon.svg"
                            alt="avisos-icon">&nbsp;&nbsp;Avisos</button>
                    <button id="button-home" class="style-button1" onclick="window.location.href='/dashbordAdmin'"><img
                            src="/imagens/home-icon.svg" alt="avisos-icon">&nbsp;&nbsp;Home</button>
                    <button id="button-cardapio" class="style-button1"
                        onclick="window.location.href='/dashbordCardapioAdmin'"><img src="/imagens/cardapio-icon.svg"
                            alt="avisos-icon">&nbsp;&nbsp;Cardápio</button>
                </div>
            </div>
            <div class="aba-box2">
                <button id="button-config" class="style-button1"><img src="/imagens/config-icon.svg"
                        alt="config-icon">&nbsp;Config</button>
                <button id="button-conta" class="style-button1"
                    onclick="window.location.href='/dashbordContaAdmin'"><img src="/imagens/conta-icon.svg"
                        alt="conta-icon">&nbsp;Conta</button>
            </div>
        </section>
        <section class="dashbord">
            <div class="nav-cardapio">
                <h1>Cardápio</h1>
                <div class="buttons-nav">
                    <% if (cardapio.length < 1) { %>
                        <% } %>
                            <% if (cardapio.length> 0) { %>
                                <button class="button-nav button-excluir" id="button-excluir"
                                    data-id="<%= cardapio[0]._id %>">Excluir Cardápio</button>
                                <% } %>
                                    <button class="button-nav"
                                        onclick="window.location.href='/dashbordCardapio/Form/Edit'">Editar
                                        Cardápio</button>
                                    <button class="button-nav"
                                        onclick="window.location.href='/dashbordCardapioAdmin/Form'">Criar
                                        Cardápio</button>
                </div>
            </div>
            <div class="div-dashbordCardapio">
                <div class="div-table">
                    <% if(cardapio.length < 1) { %>
                        <h1>Nenhum cardápio cadastrado ainda.</h1>
                        <% } %>
                            <% cardapio.forEach(cardapio=> { %>
                                <table class="tabela-cardapio">
                                    <thead>
                                        <tr>
                                            <th class="th-dia">Dia</th>
                                            <th class="th-descricao">Descrição</th>
                                            <th class="th-like">Curtidas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Segunda</td>
                                            <td>
                                                <%= cardapio.segunda %>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Terça</td>
                                            <td>
                                                <%= cardapio.terca %>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Quarta</td>
                                            <td>
                                                <%= cardapio.quarta %>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Quinta</td>
                                            <td>
                                                <%= cardapio.quinta %>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Sexta</td>
                                            <td>
                                                <%= cardapio.sexta %>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                </div>

                <div class="div-quantidade-almoco">
                    <h1>Número de pessoas<br>para merenda.</h1>
                    <div class="div-horarios">
                        <h1>Manhã: <%= cardapio. quantidadeManha %>
                        </h1>
                        <h1>Tarde: <%= cardapio. quantidadeTarde %>
                        </h1>
                        <h1>Noite: <%= cardapio. quantidadeNoite %>
                        </h1>
                    </div>
                </div>
            </div>
            <% }) %>
        </section>
    </main>
    <script src="/js/admin/cardapioDashbord.js"></script>
</body>

</html>